#include <winres.h>
#include "../MyCommander/Version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MC_VERSION_MAJOR,MC_VERSION_MINOR,MC_VERSION_PATCH,MC_VERSION_BUILD
 PRODUCTVERSION MC_VERSION_MAJOR,MC_VERSION_MINOR,MC_VERSION_PATCH,MC_VERSION_BUILD
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Attila Gallai"
            VALUE "FileDescription", "MyCommander automated test runner"
            VALUE "FileVersion", MC_VERSION_STR
            VALUE "InternalName", "MyCommanderTests"
            VALUE "LegalCopyright", "Copyright (C) Attila Gallai 1985 - 2026"
            VALUE "OriginalFilename", "MyCommanderTests.exe"
            VALUE "ProductName", "MyCommander"
            VALUE "ProductVersion", MC_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
